<div class="row">
  <div class="colm">
    <h3>ISquare</h3>
    <div class="select">
      <select name="slct" id="slct">
        <option value="1">English Us</option>
        <option value="2">No JS</option>
        <option value="3">Nice!</option>
      </select>
    </div>
  </div>
  <div class="colm">
    <h3>ISquare</h3>
    <p><a>About Us</a></p>
    <p><a>Udicti</a></p>
    <p><a>Costec</a></p>
    <p><a>Fahamu Tech</a></p>

  </div>
  <div class="colm">
    <h3>ISquare</h3>
    <p><a>Blog</a></p>
    <p><a>How To?</a></p>
    <p><a>Privacy Policy</a></p>
    <p><a>Terms And Condition</a></p>

  </div>
</div>
