<header>
  <app-carousel></app-carousel>
</header>
<section id="recent-added">
  <h2 class="section-headings"> Recent Added</h2>
  <app-projects></app-projects>
  <button mat-flat-button>See more
  <!--  <i class="material-icons">
    arrow_forward_ios
  </i>--> </button>
</section>

<section id="mentorship">
  <app-mentorship></app-mentorship>
</section>

<section id="popular-now">
  <h2 class="section-headings"> Popular now</h2>
  <app-projects></app-projects>
</section>

<section id="other-categories">
  <h2 class="section-headings"> Other Categories</h2>
  <app-categories></app-categories>
</section>


<section id="testimonials">
  <app-testimonials></app-testimonials>
</section>

<section id="get-notified">
  <app-get-notified></app-get-notified>
</section>

<section id="footer">
  <app-footer></app-footer>
</section>

<section id=" social-links">
  <app-social-links></app-social-links>
</section>
