<div class="row">
  <div class="colm">
    <h1>Get notified</h1>
    <p>About new fundraising campaigns, programs,  mentorship and news from innovation square.</p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Enter your Email</mat-label>
        <input matInput >
      </mat-form-field>

      <button mat-flat-button class="btn">
        Subscribe
      </button>
    </p>
    <h1>Get notified</h1>

  </div>
  <div class="colm">
    <img src="../../assets/images/4.png" width="500px" height="600px">
  </div>
</div>

